.hover-bg-red:hover {
  background-color: red !important;
}

.clickable {
  cursor: pointer;
  td:hover {
    background-color: #384048;
  }
}

.selected {
  td {
    background-color: #384048;
  }
}

.custom-table {
  th,
  td {
    word-wrap: break-word;
    max-width: 150px;
    font-size: small;
  }
}
